[default]

#
# Docker swarm manage address
#
url = https://192.168.0.2:4000

#
# Fuerte listen interface
#
fuerte_interface = eth0

#
# Learning console parameters
#
console_domain = c.fuvism.com
console_port_beg = 44000
console_port_end = 44000

#
# Docker swarm overlay network names
#
network_bases_name = fuvism-bases
network_nginx_name = fuvism-nginx

#
# Http token auth
#
token = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9


[log]

#
# Options defined in fuerte log
#

# Print debugging output (set logging level to DEBUG instead
# of default WARNING level). (boolean value)
debug = true

# Print more verbose output (set logging level to INFO instead
# of default WARNING level). (boolean value)
verbose = true

# set, logging will go to stdout. (string value)
log_file = fuerte.log

# paths (string value)
log_dir=/var/log/fuerte


[redis]

#
# Fuerte defined in Redis
#

# The Redis broker address where a single node is used
# (string value)
redis_host = 127.0.0.1

# The Redis broker port where a single node is used
# (integer value)
redis_port = 6379

# the Redis databased number
# (integer value)
redis_dbid = 0

# the Redis databased password
# (string value)
redis_pass = YCTACMmimohBBiZRanibCnjJV8zdnwGs


[swarm]

#
# Swarm TLS
#

# Swarm open TLS certification
# (boolean value)
tls = true

# Connection swarm manage certificate
# (string value)
tlscert = /storage/services/client/client.pem

# Connection swarm manage key
# (string value)
tlskey = /storage/services/client/client-key.pem
