# Docker Upstart and SysVinit configuration file

#
# THIS FILE DOES NOT APPLY TO SYSTEMD
#
#   Please see the documentation for "systemd drop-ins":
#   https://docs.docker.com/engine/articles/systemd/
#

# Customize location of Docker binary (especially for development testing).
#DOCKERD="/usr/local/bin/dockerd"

# Use DOCKER_OPTS to modify the daemon startup options.
#DOCKER_OPTS="--dns 8.8.8.8 --dns 8.8.4.4"

# If you need Docker to use an HTTP proxy, it can also be specified here.
#export http_proxy="http://127.0.0.1:3128/"

# This is also a handy place to tweak where Docker's temporary files go.
#export DOCKER_TMPDIR="/mnt/bigdrive/docker-tmp"
DOCKER_OPTS="
    --dns 8.8.8.8 \
    --dns 8.8.4.4 \
    -H unix:///var/run/docker.sock \
    -H tcp://0.0.0.0:2375 \
    --storage-driver=overlay2 \
    --tlsverify \
    --tlscacert=/etc/docker/certs.d/ca/ca.pem \
    --tlscert=/etc/docker/certs.d/daemon/daemon.pem \
    --tlskey=/etc/docker/certs.d/daemon/daemon-key.pem \
    --registry-mirror=https://192.168.80.117:5000 \
    --insecure-registry 192.168.80.117:5000 \
    --cluster-advertise 192.168.80.117:2375 \
    --cluster-store=consul://192.168.80.117:8501 \
    --cluster-store-opt kv.cacertfile=/etc/docker/certs.d/ca/ca.pem \
    --cluster-store-opt kv.certfile=/etc/docker/certs.d/client/client.pem \
    --cluster-store-opt kv.keyfile=/etc/docker/certs.d/client/client-key.pem
"
