[program:fuerte]
command=/storage/venv/fuerte/bin/gunicorn -w10 -kgevent --worker-connections 1000 -b0.0.0.0:8000 fuerte:app
directory=/opt/git/fuerte                                                                           ; 项目目录
startsecs=0                                                                                         ; 启动时间
stopwaitsecs=0                                                                                      ; 终止等待时间
autostart=true                                                                                      ; 是否自动启动
autorestart=true                                                                                    ; 是否自动重启
stdout_logfile=/var/log/fuerte/output.log                                                           ; log 日志
stderr_logfile=/var/log/fuerte/errors.log
